[Unit]
Description=JSON Template API
After=syslog.target

[Service]
Type=simple
ExecStart=/usr/local/bin/thin -C /opt/json_template_api/thin.yml start
Restart=always

[Install]
WantedBy=multi-user.target
